
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
    background: #fff;
    z-index: 1000;
}

.header .header-left .logo img{
    width: 40px;
    margin: 5px 0;
    cursor: pointer;
}

.header .header-left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.header .header-left .search_bar{
    width: 250px;
    height: 40px;
    background: #efefef;
    border-radius: 30px;
    padding: 0 10px;
    position: relative;
    left: 15px;
}

.header .header-left .search_bar i{
    line-height: 40px;
    font-size: 19px;
    color: #919191;
    margin-right: 5px;
}

.header .header-left .search_bar input{
    background: transparent;
    outline: none;
    border: 0;
    font-size: 16px;
    width: 200px;
}

.header .header-center{
    display: flex;
    justify-content: space-between;
    width: 650px;
    position: relative;
    right : 40px;
}

.header .header-center i{
    width: 85px;
    height: 40px;
    object-fit: cover;
    margin-left: 45px;
    line-height: 40px;
    font-size: 25px;
}

.header .header-center i:hover{
    color : #45adff;
    background: #cccccc;
    border-radius: 10px;
    cursor: pointer;
}

.header .header-right{
    display : flex;
    align-items: center;
    margin-right: 10px;
}

.header .header-right i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #efefef;
    line-height: 40px;
    padding-left: 11px;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
}

.header .header-right img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-left: 8px;
    line-height: 45px;
    cursor: pointer;
}


/* ----------main---------- */

.main{
    display: flex;
    /* margin-top: 60px; */
    background: #f5f5f5;
}

.main .main-left{
    width: 25%;
    height: 92vh;
    overflow: hidden;
    overflow-y: scroll;
    background: #f5f5f5;
    padding : 20px 6px 5px 10px;
    position: fixed;
    /* top : 60px; */
}

.main .main-left::-webkit-scrollbar{
    width: 7px;
}
.main .main-left::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #f5f5f5;
}

.main .main-left:hover::-webkit-scrollbar-thumb{
    background: #cccccc;
}

.main .main-left .main-left-img{
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.main .main-left .main-left-img:hover{
    background: #e3e3e3;
    border-radius: 5px;
}

.main .main-left .main-left-img img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: 8px 15px 8px 0px;
}

.main .main-left hr{
    width: 100%;
    height: 1px;
    border: 0px;
    background: #cccccc;
    margin: 10px 0px;
}

.main .main-left h4{
    font-size: 18px;
    color: #919191;
    margin: 5px 0
}

.main .main-left .edit{
    color: #45abff;
    font-size: 15px;
    float: right;
    position: relative;
    bottom: 23px;
    cursor: pointer;
    opacity: 0;
}

.main .main-left:hover .edit{
    opacity: 1;
}


.main .main-center{
    width: 50%;
    height: auto;
    top: 0;
    padding : 20px 20px 0px 20px;
    background: #f5f5f5;
    margin-left: 25%;
}

.main .main-center::-webkit-scrollbar{
    width: 0;
}

.main .main-center .top-box{
    width: 100%;
    height: 260px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.main .main-center .top-box .my-story-card{
    width: 130px;
    height: 250px;
    overflow: hidden;
    margin: 0 2px;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    cursor: pointer;
}

.main .main-center .top-box .my-story-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main .main-center .top-box .my-story-card .story-upload{
    width: 100%;
    height: 60px;
    background:#fff;
    position: relative;
    bottom: 50px;
    cursor: pointer;
}

.main .main-center .top-box .my-story-card .story-upload img{
    width: 30px;
    height: 30px;
    display: flex;
    margin: 0 auto;
    position: relative;
    bottom : 15px;
    border-radius: 50%;
}

.main .main-center .top-box .my-story-card .story-upload .story-tag{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}

.main .main-center .top-box .story-card{
    width: 130px;
    height: 250px;
    overflow: hidden;
    margin :0 2px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    cursor: pointer;
}

.main .main-center .top-box .story-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.main .main-center .top-box .story-card .story-profile{
    position: relative;
    bottom :240px;
    margin-left: 10px;
}

.main .main-center .top-box .story-card .story-profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #45abff;
}

.main .main-center .top-box .story-card .story-profile .circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #27cc37;
    border: 2px solid #fff;
    position: relative;
    bottom : 15px;
    left: 25px;
}

.main .main-center .top-box .story-card .story-name{
    position: relative;
    bottom : 100px;
    padding : 0px 10px;
}

.main .main-center .top-box .story-card .story-name .name{
    font-weight: bold;
    color : #fff;
    font-size: 14px;
}

.main .main-center .my-post{
    width: 100%;
    height: auto;
    background: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.2);
    margin: 10px 0px;
}

.main .main-center .my-post img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.main .main-center .my-post .post-top{
    display: flex;
    align-items: center;
}

.main .main-center .my-post .post-top input{
    width: 90%;
    padding: 10px;
    margin-left: 20px;
    border: 0;
    outline: none;
    background: #efefef;
    border-radius: 30px;
    font-size: 17px;
}

.main .main-center .my-post .post-top input:hover{
    background: #e3e3e3;
    cursor: pointer;
}

.main .main-center .my-post hr{
    width: 100%;
    height: 1px;
    background: #cccccc;
    border: 0px;
    margin: 10px 0px;
}

.main .main-center .my-post .post-bottom{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px auto;
}

.main .main-center .my-post .post-bottom .post-icon{
   display: flex;
   align-items: center;
   justify-content: flex-start;
   margin: 0px auto;
   padding: 5px 30px;
   cursor: pointer;
}

.main .main-center .my-post .post-bottom .post-icon:hover{
    background: #efefef;
    border-radius: 10px;
}

.main .main-center .my-post .post-bottom .post-icon i.red{
    font-size: 20px;
    color : red;
    margin-left: 8px;
    margin-right: 5px;
}

.main .main-center .my-post .post-bottom .post-icon i.green{
    font-size: 20px;
    color : #27cc37;
    margin-left: 8px;
    margin-right: 5px;
}

.main .main-center .my-post .post-bottom .post-icon i.yellow{
    font-size: 20px;
    color : #f7b928;
    margin-left: 8px;
    margin-right: 5px;
}

.main .main-center .room{
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.2);
    padding: 10px 15px;
    border-radius: 7px;
    display: flex;
    align-items: center;
}

.main .main-center .room .room-image{
    display: flex;
    align-items: center;
    border: 1px solid #45abff;
    padding: 10px;
    border-radius: 30px;
    width: 160px;
    margin-right: 5px;
}

.main .main-center .room .room-image:hover{
    background: #efefef;
    cursor: pointer;
}

.main .main-center .room .room-image img{
    width: 25px;
    margin-right: 8px;
}

.main .main-center .room .room-image .room-tag{
    color : #45abff
}

.main .main-center .room .room-profile img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 0px 8px;
    border: 3px solid #45abff;
}

.main .main-center .friends-post{
    margin: 10px 0px;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0px 1px 8px rgba(0,0,0,0.2);
}

.main .main-center .friends-post .friend-post-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.main .main-center .friends-post .friend-post-top .img-and-name{
    display: flex;
    align-items: center;
}

.main .main-center .friends-post .friend-post-top .img-and-name img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 8px;
    cursor: pointer;
}

.main .main-center .friends-post .friend-post-top .img-and-name .friends-name .friends-name{
    font-weight: bold;
    cursor: pointer;
}

.main .main-center .friends-post .friend-post-top .img-and-name .friends-name .friends-name:hover{
    text-decoration: underline;
}

.main .main-center .friends-post .friend-post-top .img-and-name .friends-name .time{
    font-size: 14px;
    color : #919191;
    margin: 3px 0px;
}

.main .main-center .friends-post .friend-post-top .img-and-name .friends-name .time:hover{
    text-decoration: underline;
    cursor: pointer;
}

.main .main-center .friends-post .friend-post-top .img-and-name .friends-name .time i{
    font-size: 10px;
    margin-left: 5px;
}

.main .main-center .friends-post .friend-post-top .menu{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.main .main-center .friends-post .friend-post-top .menu:hover{
    background: #efefef;
    cursor: pointer;
}

.main .main-center .friends-post .friend-post-top .menu i{
    line-height: 35px;
    margin-left: 9px;
    font-size: 18px;
}

.main .main-center .friends-post p{
    font-size: 15px;
    margin: 5px 0;
}

.main .main-center .friends-post img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.main .main-center .friends-post .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.main .main-center .friends-post .info .emoji-img{
    display: flex;
}

.main .main-center .friends-post .info .emoji-img img{
    width: 20px;
    height: 20px;
}

.main .main-center .friends-post .info .emoji-img p{
    margin-left: 10px;
    font-size: 16px;
    color: #919191;
}

.main .main-center .friends-post .info .comment{
    display: flex;
    align-items: center;
}

.main .main-center .friends-post .info .comment p{
    padding: 0 12px;
    font-size: 15px;
    color: #919191;
}

.main .main-center .friends-post hr{
    width: 100%;
    height: 1px;
    background: #cccccc;
    border: 0;
    margin: 10px 0;
}

.main .main-center .friends-post .like{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

.main .main-center .friends-post .like .like-icon:hover{
    background: #cccccc;
    border-radius: 10px;
    cursor: pointer;
}

.main .main-center .friends-post .like .like-icon{
    width: 250px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.main .main-center .friends-post .like .like-icon i{
    font-size: 20px;
    margin-right: 8px;
    color : #919191;
}

.main .main-center .friends-post .like .like-icon i.activi{
    color: #45abff;
}

.main .main-center .friends-post .comment-warpper{
    display: flex;
    align-items: center;
}

.main .main-center .friends-post .comment-warpper img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 15px;
}

.main .main-center .friends-post .comment-warpper .circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #27cc37;
    border: 2px solid #fff;
    position: relative;
    top: 15px;
    right: 25px;
}

.main .main-center .friends-post .comment-warpper .comment-search{
    width: 95%;
    padding: 5px 15px;
    background: #efefef;
    border-radius: 30px;
}

.main .main-center .friends-post .comment-warpper .comment-search input{
    width: 85%;
    height: 30px;
    background: none;
    border: none;
    outline: none;
}

.main .main-center .friends-post .comment-warpper .comment-search i{
    padding: 0 3px;
    color: #919191;
}

.main .main-center .loard{   
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 50px 0px;
}

.main .main-center .loard button{
    width: 100px;
    height: 30px;
    background: none;
    margin: 5px 20px;
    border: 1px solid #919191;
    color : #919191;
    border-radius: 5px;
    cursor: pointer;
}

.main .main-center .end{
    font-size: 15px;
    text-align: center;
    color: #919191;
    margin: 10px 0;
}

.main .main-center .end span{
    margin-left: 8px;
    color: #919191;
}

.main .main-center .end span i{
    margin-right: 8px;
}

.main .main-right{
    width: 25%;
    height: 92vh;
    overflow: hidden;
    overflow-y: scroll;
    background: #f5f5f5;
    padding: 20px 10px 5px 6px;
    position: fixed;
    right: 0;
}

.main .main-right::-webkit-scrollbar{
    width: 7px;
}

.main .main-right::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: #f5f5f5;
}

.main .main-right:hover::-webkit-scrollbar-thumb{
    background: #cccccc;
}

.main .main-right .first-warpper .page{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .main-right .first-warpper .page h4{
    font-size: 18px;
    color: #919191;
    margin: 5px 0;
}
.main .main-right .first-warpper .page .menu{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.main .main-right .first-warpper .page .menu:hover{
    background: #efefef;
    cursor: pointer;
}

.main .main-right .first-warpper .page .menu i{
    line-height: 35px;
    margin-left: 10px;
    font-size: 18px;
}

.main .main-right .first-warpper .page-img{
    display: flex;
    align-items: center;
}

.main .main-right .first-warpper .page-img:hover{
    background: #cccccc;
    border-radius: 10px;
    cursor: pointer;
}

.main .main-right .first-warpper .page-img img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    margin: 8px 15px 8px 0;
    cursor: pointer;
}

.main .main-right hr{
    width: 100%;
    height: 1px;
    border: 0;
    background: #cccccc;
    margin: 10px auto;
}

.main .main-right .second-warpper h4{
    font-size: 18px;
    color: #919191;
    margin: 5px 0;
}

.main .main-right .second-warpper .img-and-tag{
    display: flex;
    align-items: center;
}

.main .main-right .second-warpper .img-and-tag img{
    width: 40px;
    margin: 8px 15px 8px 0;
}

.main .main-right .second-warpper .img-and-tag p{
    line-height: 22px;
}

.main .main-right .second-warpper .img-and-tag p span{
    font-weight: bold;
}

.main .main-right .third-warpper .contact-tag{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .main-right .third-warpper .contact-tag h4{
    font-size: 18px;
    color: #919191;
    margin: 5px 0;
}

.main .main-right .third-warpper .contact-tag .contact-icon i{
    margin: 0 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    padding-left: 10px;
}

.main .main-right .third-warpper .contact-tag .contact-icon i:hover{
    background: #efefef;
    cursor: pointer;
}

.main .main-right .third-warpper .contact{
    display: flex;
    align-items: center;
}

.main .main-right .third-warpper .contact img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin: 8px 15px 8px 0;
    border: 3px solid #45abff;
    cursor: pointer;
}

.contact-circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #27cc37;
    border: 2px solid #fff;
    position: relative;
    top: 15px;
    right: 25px;
}
/* ----- modal ----- */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 475px;
    width: 100%;
    border-radius: 10px;
}

.modal-content .fb-area{
    position: relative;
    min-height: 100px;
    margin: 15px 5px;
}

.fb-area .placeholder{
    position: absolute;
    margin-top: -3px;
    font-size: 22px;
    color: #919191;
    pointer-events: none;
}

.fb-area .input{
    outline: none;
    font-size: 17px;
    word-wrap: break-word;
}

.fb-area .readonly{
    position: absolute;
    top : 0;
    left: 0;
    z-index: -1;
}

.modal-content-title{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    justify-items: center;
}

.modal-content-title .tiltle{
    margin-left: 150px;
    margin-top: 10px;
}

.modal-content-title .icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #efefef;
    line-height: 40px;
    padding-left: 13px;
    padding-top: -5px;
    /*font-size: 18px;
    margin-left: 10px; */
    cursor: pointer;
}

.modal-content-title .icon:hover{
    background: #e3e3e3;
}



.modal-content-title hr{
    width: 100%;
    height: 1px;
    border: 0px;
    background: #cccccc;
    margin: 20px auto;
}

.modal-content h4{
    font-size: 20px;
    justify-content:center;
}
.modal-content-info{
    display: flex;
}

.modal-content-info img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-left: 8px;
    line-height: 45px;
    cursor: pointer;
    margin-top: 5px;
}

.modal-content-info .user{
    width: 100px;
    display: flex;
    margin-left: 5px;
    border-radius: 5px;
    background:#cccccc;
}
.modal-content-info .user p{
    margin: 5px 2px;
}
.modal-content-info .user i{
    margin: 5px 2px;
}

.icon-botttom{
    display: flex;
    justify-content: space-between;
}

.icon-botttom i{
    width: 30px;
    height: 30px;
    font-size: 25px;
}

.modal-content-add{
    display: flex;
}

.modal-content-add .add-icon{
    display: flex;
    width: 25px;
    height: 25px;
    margin:15px 0px;
    font-size: 20px;
    
}

.modal-content-add .add-icon i{
    margin-left: 25px;
    cursor: pointer;
}

.modal-content-add .add-icon i:hover{
    color:#45abff
}


.modal-content-add{
    width: 430px;
    height: 50px;
    border: 1px solid rgb(204, 199, 199);
    background: #efefef;
    border-radius: 5px;
    padding: 0 5px;
    position: relative;
    
}

.modal-content-add input{
    background: transparent;
    outline: none;
    border: 0;
    font-size: 18px;
    width: 200px;
}

.modal-content-end{
    width: 430px;
    height: 30px;
    border: 1px solid rgb(204, 199, 199);
    background: #efefef;
    margin-top: 10px;
    border-radius: 5px;
    position: relative;
}
.modal-content-end p{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 3px;
    cursor: pointer;
}



